version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sanatan_backend
    restart: unless-stopped
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings.prod
      - DJANGO_ENV=production
      - DEBUG=False
      - ALLOWED_HOSTS=api.dharmsaar.gibberishtech.com,localhost,127.0.0.1
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/admin/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  app-network:
    driver: bridge

